{% extends "base.html" %}

{% block htmltitle %}
<title>Smart Power Documentation</title>
{% endblock %}

{% block content %}
<div class="admonition danger docs-moved-banner">
  <p class="admonition-title">This documentation has moved</p>
  <p>
    This site is no longer maintained and will not receive further updates.
    The current Smart Power documentation is available on the Volue Documentation Portal:
    <a href="https://docs.volue.com/">https://docs.volue.com/</a>.
  </p>
</div>
{{ page.content }}
{% endblock %}
